html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.task-form__input {
    width: 30vh;
    padding: 1vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
    font-size: 1.6vh;
}

.task-form__priority {
    width: 15vh;
    padding: 1vh;
    border-radius: 0.8vh;
    border: 1px solid #ccc;
    font-size: 1.6vh;
}

body.light-theme .task-form__button {
    display: block;
    margin: 1vh 0 1vh 0;
    padding: 1vh 2vh;
    background-color: #D9D9D9;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
    border-radius: 0.8vh;
}

body.blue-theme .task-form__button {
    display: block;
    margin: 1vh 0 1vh 0;
    padding: 1vh 2vh;
    background-color: #6D92B3;
    color: white;
}

.taskTable {
    width: 85%;
    border-collapse: collapse;
}

.taskTable th, .taskTable td {
    border: 0.2vh solid #706e6e;
    padding: 1vh;
    text-align: center;
}

body.blue-theme thead {
    background-color: #6D92B3;
    color: white;
}

body.light-theme thead {
    background-color: #A8A7A7FF;
}