@import url('https://fonts.cdnfonts.com/css/inria-serif');

@media (max-width: 900px) {
    .siteHeader {
        font-size: 18px;
    }

    body {
        font-size: 40%;
    }

    .siteNavigation {
        text-align: center;
        font-size: 12px;
    }

    .siteNavigation a {
        display: block;
        margin: 5px 0;
    }

    .quitJob {
        display: none;
    }
}

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 20vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

main {
    margin-left: 20px;
}

.more {
    display: flex;
    flex-grow: 1;
}

body.light-theme .viewMore {
    display: block;
    margin: 1vh 0 1vh 0;
    padding: 1vh 2vh;
    background-color: #D9D9D9;
    text-decoration: none;
    color: #333333;
    cursor: pointer;
}

body.blue-theme .viewMore {
    display: block;
    margin: 1vh 0 1vh 0;
    padding: 1vh 2vh;
    background-color: #6D92B3;
    text-decoration: none;
    color: white;
    cursor: pointer;
}


body.light-theme .viewMore:hover {
    background-color: #7f9b64;
}

body.blue-theme .viewMore:hover {
    background-color: #4464af;
}

.monthLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monthLine p {
    margin: 1vh;
    white-space: nowrap;
}

.timeline {
    flex-grow: 1;
    margin: 0 1vh;
    border: none;
    border-top: 0.1vh solid #000;
    position: relative;
}

.timeline::before,
.timeline::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -4px;
}

.timeline::before {
    left: -10px;
}

.timeline::after {
    right: -10px;
}

.monthChoose {
    border-color: white;
}

img {
    width: 20px;
    height: 20px;
}