@import url('https://fonts.cdnfonts.com/css/inria-serif');

html {
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inria Serif', sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #333;
}

.siteName {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.siteHeader {
    background-color: #D9D9D9;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.siteNavigation {
    text-align: right;
    font-size: 14px;
    margin-left: auto;
}

.siteNavigation a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.siteNavigation a:hover {
    color: #7f9b64;
}

main {
    margin-left: 20px;
}

.viewMore {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #333333;
    border: none;
    cursor: pointer;
}

.viewMore:hover {
    background-color: #7f9b64;
}



aside {
    width: 200px;
    background-color: #D9D9D9;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #D9D9D9;
    margin-left: auto;
    margin-right: 10px;
}

.jobTable {
    border-collapse: collapse;
    margin-top: 20px;
}

.jobTable th, .jobTable td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
    background-color: #e0dede;
}

.addLine {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
    background-color: #D9D9D9;
    color: #333333;
    border: none;
    cursor: pointer;
}

.addLine:hover {
    background-color: #7f9b64;
}

.monthLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.monthLine p {
    margin: 10px;
    white-space: nowrap;
}

.timeline {
    flex-grow: 1;
    margin: 0 10px;
    border: none;
    border-top: 1px solid #000;
    position: relative;
}

.timeline::before,
.timeline::after {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -4px;
}

.timeline::before {
    left: -10px;
}

.timeline::after {
    right: -10px;
}


.monthChoose {
    border-color: white;
}

footer {
    padding: 10px;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #D9D9D9;
}

footer a {
    color: #333;
    margin: 0 10px;
}

footer img {
    vertical-align: middle;
    margin-right: 10px;
}

footer p {
    display: inline-block;
    color: #333;
    margin: 0 0;
    text-decoration: underline;
}

footer a:hover {
    color: #7f9b64;
}

